#logoimage
{
	width:40px;
}

.navbar {
	background-color: #0696ba;
}

.navbar-brand {
	color:#fff;
	font-family: 'Anton', sans-serif;
}
.nav-link {
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
	background-color: #0696ba;
	width:100%;
	height:85vh;
	border-radius: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 58% 100%, 0 84%, 0% 50%);
}


#hero h1, h2, p {
	color:white;
}

#hero  h2 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}


#changetext {
	color:#ed7b00;
	font-size:40px;
}

#changetext:after {
	content : "";
	animation-name: changetextanim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes changetextanim
{
	12%{
		content: "Shoes";
	}
	25% {
		content: "Pant";
	}
	50% {
		content: "Watches";
	}
	75% {
		content: "Shirts";
	}
	100% {
		content:"Caps";
	}
}

#rating .card {
	height: 150px;
	border-radius: 30px;
}

#rating .card img {
	width: 40px;

}

#rating #star {
	color: orange;
	font-size: 25px;
	margin-top: 40px;
}

#add-btn img {
	width: 30px;
	float: right;
}

#product #star {
	color: orange;
	font-size: 20px;
	margin: 10px 0px;		
	text-align: center;
}

#product .card {
	border-radius: 20px;
}

#overlay {
	width: 40px;
	position: absolute;
	top: 25px;
	opacity: 0;
	transition : opacity 0.5s;
}

#product #overlay img {
	background-color: orange;
	margin-bottom: 10px;
	padding: 5px;
}

#product .card:hover #overlay{
	opacity: 1.0;
}

.modal p {
	color: black;
}

#aboutus h3 {
	text-shadow: 2px 2px 2px black;
	text-align: center;
}

#aboutus p {
	color:black;
	text-align: justify;
	line-height: 25px;
}

#aboutus .row {
	align-items: center;
}
#headingtext {
	font-family: lucida sans-serif;
}
#headingcolor {
	color:#0696ba;
}


.slider img {
	width:200px;
}



.footer {
	display: flex;
	align-items: center;
	height:250px;
	background-color: #0696ba;
	color:#e8edea;

}


.footer ul {
	list-style-type: none;
}

.social {
	background-color: #0696ba;
	display: flex;
	justify-content: center;
}
.social .nav-link {
	color:white;
	padding: 0.5rem;
}


#product .card:hover img{
	transform:scale(1.1);
}